<div class="my-2 p-4 border border-green-500/30 bg-yellow-100/10 rounded-lg text-green-200">
    <div class="flex items-start gap-3">
        <svg class="w-5 h-5 mt-1 text-yellow-300" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 8a2 2 0 0 1 1.99 2.2c0 1.2-1.2 1.8-1.99 2.3M12 17h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0z"/>
        </svg>
        <strong class="underline">{{ .Get "title" }}</strong>
    </div>
    {{ .Inner | markdownify }}
</div>
